@model List<Produto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">O maior site de marketplace do mundo</h1>

    <!-- Carrossel de imagens -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/banner1.jpg" class="d-block w-100" style="object-fit: cover; width: 1300px; height: 600px;" alt="Imagem 1">
            </div>
            <div class="carousel-item">
                <img src="~/img/banner2.jpg" class="d-block w-100" style="object-fit: cover; width: 1300px; height: 600px;" alt="Imagem 2">
            </div>
            <div class="carousel-item">
                <img src="~/img/banner3.jpg" class="d-block w-100" style="object-fit: cover; width: 1300px; height: 600px;" alt="Imagem 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br />
<div id="listaProdutos" class="row">
    @foreach (var produto in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@produto.ImageURL" alt="@produto.Descricao" style="width: 350px; height: 300px;">
                <div class="card-body">
                    <h5 class="card-title">@produto.Nome</h5>
                    <p class="card-text">Vendedor: @produto.Vendedor.Nome_Fantasia</p>
                    <p class="card-text">Preço: @produto.Preco</p>
                    <p class="card-text">@produto.Descricao</p>
                    @{
                        var isUserAuthenticated = !string.IsNullOrEmpty(ViewContext.HttpContext.Session.GetString("UserType"));
                        var isCliente = isUserAuthenticated && ViewContext.HttpContext.Session.GetString("UserType") == "Cliente";
                    }
                    @if (isCliente)
                    {
                        <button class="btn btn-primary">Adicionar ao Carrinho</button>
                    }
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+oR/z7Q7Oa0Sg2RZu9GryWtmj8KfvrFTn5U8jHvZ3tFZXiS" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-uyyeoWc3StH8ypg4ZUtu6egM5Q26BxVfap8h9R3X3sMhtL64c4AjJgZy4O5p+U+I" crossorigin="anonymous"></script>
}
